<div class="form center">
  <fieldset class="borders">
    <legend>Place</legend>
    <div class="contents">
      <%= form_for(@place) do |f| %>
        <% if @place.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

            <ul>
            <% @place.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>


        <%= f.hidden_field :owner_id, { value: current_user.id } %>
        <%= f.hidden_field :owner_type, { value: current_user.class } %>

        <div class="actions">
          <%= f.submit 'Ready!' , class: 'button-def'%>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>