<h3><%= name %></h3>
<div>
    <%= photo ? image_tag(photo) : 'No photo availiable'%>
</div>
<div><strong>Likes: </strong><%= likes %></div>
<div><strong>Checkins: </strong><%= checkins %></div>
<div><strong>Categories: </strong><%= categories %></div>
<!-- <div><strong>Full address: </strong><%= address %></div> -->