<p id="notice"><%= notice %></p>

<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>X</th>
      <th>Y</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place %></td>
        <td><%= place.description %></td>
        <td><%= place.x %></td>
        <td><%= place.y %></td>
        <td><%= render place.owner %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
