<% @title ||= 'Places' %>
<div>
  <h1 class="center-align">
    <%= @title %>
    <% unless @place.nil? %>
    <%= link_to @place.name, @place %>
    <% end %>
  </h1>
  <% if logged_in? %>
  <%= button_to 'New place', new_place_path, method: :get, class: 'button-def' %>
  <% end %>
</div>

<div class="flickr_pagination">
  <%= will_paginate @places %>
</div>
<%= render partial: 'listing', locals: { places: @places } %>
<div class="flickr_pagination">
  <%= will_paginate @places %>
</div>
