<h2>  <%= @place.name %></h2>

<% if owner_of_place? %>
  <%= button_to 'Edit', edit_place_path(@place),
                method: 'get', class: 'button-def' %>
  <%= button_to 'Delete', place_path(@place),
                method: 'delete', class: 'button-del', data: { confirm: 'Are you sure?' } %>
<% end %>
<div class="big-container borders">
  <div class="info-container col-3">
      <p>
        <strong>Description:</strong>
        <%= @place.description %>
      </p>

      <p>
        <strong>Owner:</strong>
          <%= render @place.owner %>
      </p>

      <p>
        <strong>Address:</strong>
          <%= @place.address %>
      </p>

    </div>

  <div class="info-container col-3">
    <h3>Events</h3>
    <% @place.events.each do |event| %>
      <p>
      <%= render event %>
      </p>
    <% end %>
  </div>
  <div class="info-container col-3">
    <div class="map-container">
      <div id="map">
      </div>
    </div>
  </div>
</div>

<div class="big-container borders">
  <% if logged_in? %>
    <div class="comment-input">
      <%= render 'comments/form' %>
    </div>
  <% end %>
  <div id="comments">
    <%= render 'comments/commentable_comments' %>
  </div>
</div>
<!--<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>-->
