<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>X:</strong>
  <%= @place.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @place.y %>
</p>

<p>
  <strong>Owner id:</strong>
  <%= @place.owner_id %>
</p>

<p>
  <strong>Owner type:</strong>
  <%= @place.owner_id %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
