<div class="places">
  <div class="center-align">
    <h1><%= @place.name %></h1>
    <div class="stats-container">
      <span id="avg-rating">
        <%= render partial: 'ratings/avg_rating', locals: { rateable: @place } %>
      </span>
      <span id="num-reports">
        <%= render partial: 'reports/num_reports', locals: { reportable: @place } %>
      </span>
    </div>
  </div>


  <% if owner_of_place? %>
  <div class="floated-left">
    <%= button_to 'Edit', edit_place_path(@place),
    method: 'get', class: 'button-def' %>
  </div>
  <div class="floated-left">
    <%= button_to 'Delete', place_path(@place),
    method: 'delete', class: 'button-del', data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>

  <% if logged_in? %>

  <div class="floated-right">
    <%= render partial: 'reports/form', locals: { reportable: @place } %>
  </div>

  <div class="floated-right">
    <%= render partial: 'ratings/form', locals: { rateable: @place } %>
  </div>
  <% end %>

  <div class="floated-right">
    <%= image_tag 'places/foursquare-logomark.png',
      id: 'foursquare-tooltip', 
      height: 30, 
      title: 'Foursquare info' %> &nbsp;  &nbsp;
  </div>

  <div class="container big-container clear borders">
    <div class="info-container col-3 mini-image">
      <%= image_tag @place.get_picture(:normal)%>
    </div>
    <div class="info-container mini-map col-3-2">
      <div id="map"></div>
    </div>
  </div>

  <div class="container big-container borders">
    <%= render 'place_info' %>
  </div>

  <div class="container big-container borders">
    <% if logged_in? %>
    <div class="comment-input">
      <%= render partial: 'comments/form', locals: { commentable: @place} %>
    </div>
    <% end %>

    <div id="comments">
      <%= render partial: 'comments/commentable_comments', locals: { commentable: @place } %>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });

  jQuery(document).ready(function(){
    $("#foursquare-tooltip").tooltip({
      content: 'Loading info from Foursquare...'
    });

    var callback = function(response){
      $("#foursquare-tooltip").tooltip("option", "content", response);
    }

    $.get("<%= j foursquare_place_path %>", callback);
  });
</script>
