<!DOCTYPE html>
<html>
<head>
  <title>Kultural</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <%= render 'layouts/header' %>
</header>

<div id="main">
  <%= render 'layouts/flash' %>
  <%= yield %>
</div>

<!--http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/-->

<footer>


			<div class="footer-left">

				<p class="footer-links">
          <%= link_to 'About',    about_path %>

          <%= link_to 'Help',     help_path %>

          <%= link_to 'Contact',  contact_path %>
				</p>

			</div>
</footer>
</body>
</html>
