<!DOCTYPE html>
<html>
<head>
  <title>Kultural</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="wrapper">
    <!--Some things on this page were taken from http://tutorialzine.com/-->
    <header>
      <%= render 'shared/top_navbar' %>
    </header>
    <div id="main">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
    <div class="push"></div>
  </div>
  <footer class="footer">
      <%= render 'shared/bot_navbar' %>
  </footer>
</body>
</html>
