<!DOCTYPE html>
<html>
<head>
  <title>Kultural</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <%= render 'layouts/header' %>
</header>

<div id="main">
  <ul>
    <% flash.each do |key, value| %>
      <%= content_tag("li", value) %>
    <% end %>
  </ul>

  <%= yield %>
</div>

<footer>
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
