<div>
  <h1 class="center-align"> 
    <%= 'Events of category ' %> 
    <% unless @event_type.nil? %>
    <%= link_to @event_type.name, @event_type %>
    <% end %>
  </h1>
</div>

<div>
  <div class="floated-left">
  <strong>Examples:</strong>
  <%= @event_type.examples %>
  </div>
  <div class="floated-right">
  <%= button_to "All event types", event_types_path, 
  class: 'button-def', method: :get %>
  </div>
</div>

<% @events = @event_type.events %>
<%= render partial: 'events/listing', locals: {events: @events} %>
