<div class="form center">
  <fieldset class="borders">
    <legend>Group</legend>
    <div class="contents">
    <%= form_for(@group, builder: BetterForms) do |f| %>
      <%= f.title_errors %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
        <%= f.errors :name %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
        <%= f.errors :description %>
      </div>
      <div class="actions">
        <%= f.submit 'Ready!', class: 'button-def'%>
      </div>
    <% end %>
    </div>
  </fieldset>
</div>
