<h1 class="center-align"> Groups </h1>
<% if logged_in? %>
  <%= button_to 'New group', new_group_path, method: :get, class: 'button-def' %>
<% end %>

<div class="table-container">
  <div class="flickr-pagination">
    <%= will_paginate @groups %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= render group %></td>
          <td><%= group.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flickr-pagination">
    <%= will_paginate @groups %>
  </div>
</div>
