<div id="profile-info">

  <%= render 'shared/profiles/presentation.html', owner: @group %>

  <div class="profile-forms">
    <%= render 'join_form' if logged_in? %>
    <% if !current_user.nil? && current_user.is_group_admin?(@group) %>
    <div class="edit-form"><%= button_to 'Edit', edit_group_path(@group), method: :get, class: ['button', 'button-def'] %></div>
    <div class="delete-form"><%= button_to 'Delete group', @group, method: :delete, data: { confirm: 'Are you sure?' }, class: ['button', 'button-del'] %></div>
    <% end %>
  </div>

  <div class="profile-about">
    <table>
      <tr>
        <td><strong>Description: </strong></td>
        <td><%= @group.description %></td>
      </tr>
      <tr>
        <td><strong>Created at: </strong></td>
        <td><%= @group.created_at %></td>
      </tr>
    </table>
  </div>

  <div class="normal-container">
    <div><strong>Admins: </strong></div>
    <%= render @group.admins.limit(5) %>
      <div><%= link_to 'See all members', members_group_path %></div>
  </div>
</div>

<%= render 'shared/profiles/activity.html', owner: @group %>
