<%= form_for(:session, url: login_path) do |f| %>

  <div class="field">
    <%= f.label 'Correo electrónico (cuenta)' %><br/>
    <%= f.text_field :mail, placeholder: 'user@domain.com' %>
  </div>

  <div class="field">
    <%= f.label 'Contraseña' %><br/>
    <%= f.password_field :password %>
  </div>

  <%= f.submit 'Iniciar sesión' %>

<% end %>