<div class="form center">
  <fieldset class="borders">
    <legend>User</legend>
    <div class="contents">
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@user.errors.count, "error") %> 
              prohibited this user from being saved:
            </h2>
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label "Name" %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label "Mail" %><br>
          <%= f.text_field :mail %>
        </div>
        <div class="field">
          <%= f.label "Password" %><br>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label "Confirm your password" %><br>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="field">
          <%= f.label "Phone" %><br>
          <%= f.text_field :phone %>
        </div>
        <div class="field">
          <%= f.label "Birth Date" %><br>
          <%= f.date_select :birthday, start_year: 1900, end_year: Time.now.year %>
        </div>
        <div class="field">
          <%= f.radio_button :male, true %>
          <%= f.label "Male" %>
          <%= f.radio_button :male, false %>
          <%= f.label "Female" %><br>
        </div>
        <div class="actions">
          <%= f.submit "Submit", class: 'button-def'%>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#user_name").bind('focusout', {min: 5, max: 50, message: 'Your name should contain between 5 and 50 characters'}, lengthHandler);
    $("#user_mail").bind('focusout', mailHandler);
    $("#user_password").bind('focusout', {min: 6, message: 'Password too short'}, lengthHandler);
    $("#user_password_confirmation").bind('focusout', {passField: '#user_password'}, passHandler);
    $("#user_phone").bind('focusout', {regex: /^\d{5,15}$/, message: 'Phone number should contain between 5 and 15 numbers'}, regexHandler);
    $("#user_birthday_3i, #user_birthday_2i, #user_birthday_1i").bind('click', 
      {day: '#user_birthday_3i',
      month: '#user_birthday_2i',
      year: '#user_birthday_1i',
      from: new Date(1900, 1, 1),
      to: new Date(),
      message: 'Your birthday should not be in the future'
    }, dateHandler);

    $(".actions input").bindFirst('click', function(event){
      var valid = true;
      var ajax = mailValidator.call($("#user_mail"));
      valid = valid && ajax;
      valid = valid && lengthValidator.call($("#user_mail"), 5, 50, 'Your name should contain between 5 and 50 characters');
      valid = valid && lengthValidator.call($("#user_password"), 6, undefined, 'Password too short');
      valid = valid && passValidator.call($("#user_password_confirmation"), '#user_password');
      valid = valid && regexValidator.call($("#user_phone"), /^\d{5,15}$/, 'Phone number should contain between 5 and 15 numbers');
      valid = valid && dateValidator.call($("#user_birthday_3i"), '#user_birthday_3i', '#user_birthday_2i', '#user_birthday_1i', new Date(1900, 1, 1), new Date(), 'Your birthday should not be in the future');

      valid = valid && uniqueMail;
      if(!valid){
        event.preventDefault();
        event.stopPropagation();
      }
    });
  });
</script>