<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "e-mail" %><br>
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label "Contraseña" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Confirma tu contraseña" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Número telefónico" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "Fecha de nacimiento" %><br>
    <%= f.date_select :birthday, start_year: 1900, end_year: Time.now.year %>
  </div>
  <div class="field">
    <%= f.radio_button :male, true %>
    <%= f.label "¿Hombre?" %>
    <%= f.radio_button :male, false %>
    <%= f.label "¿Mujer?" %><br>
  </div>
  <div class="actions">
    <%= f.submit "¡Crear cuenta!" %>
  </div>
<% end %>
