<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Phone</th>
        <th>Birth Date</th>
        <th>Gender</th>
      </tr>
    </thead>

    <tbody>
      <% users.each do |user| %>
      <tr>
        <td><%= render user %></td>
        <td class="center-align"><%= user.mail %></td>
        <td class="center-align"><%= user.get_phone %></td>
        <td class="center-align"><%= user.get_birthday %></td>
        <td class="center-align"><%= user.get_gender %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
