<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Phone</th>
        <th>Birth Date</th>
        <th>Gender</th>
      </tr>
    </thead>

    <tbody>
      <% users.each do |user| %>
      <tr>
        <td><%= render user %></td>
        <td><%= user.mail %></td>
        <td><%= user.phone %></td>
        <td><%= user.birthday %></td>
        <td><%= user.male ? "Male" : "Female" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
