<h1 class="center-align">Changing my password</h1>

<div class="form center" id="user-form">
  <fieldset class="borders">
    <legend>User</legend>
    <div class="contents">
      <%= form_for(@user, url: update_password_user_path(@user), method: :put, builder: BetterForms) do |f| %>

        <%= f.title_errors %>

        <div class="field">
          <%= f.label "New password" %><br>
          <%= f.password_field :password %>
          <%= f.errors :password %>
        </div>
        <div class="field">
          <%= f.label "Confirm your new password" %><br>
          <%= f.password_field :password_confirmation %>
          <%= f.errors :password_confirmation %>
        </div>

        <div class="actions">
          <%= f.submit "Submit", class: 'button-def'%>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("[id^='edit_user_']").validate({
      "user_password": {required: true, length: {min: 6, message: 'Your password is too short'}},
      "user_password_confirmation": {equals: {field: 'user_password', message: 'Passwords don\'t match'}}
    });
  });
</script>