<% @title ||= 'Users' %>
<div>
  <h1 class="center-align">
    <%= @title %>
    <% unless @user.nil? %>
    <%= link_to @user.name, @user %>
    <% end %>
  </h1>
</div>

<div class="flickr_pagination">
  <%= will_paginate @users %>
</div>
<%= render partial:'listing', locals: { users: @users } %>
<div class="flickr_pagination">
  <%= will_paginate @users %>
</div>