<h1 class="center-align">New user</h1>

<div class="form center" id="user-form">
  <fieldset class="borders">
    <legend>User</legend>
    <div class="contents">
      <%= form_for(@user, multipart: true, builder: BetterForms) do |f| %>

        <%= f.title_errors %>

        <div class="field">
          <%= f.label "Name" %><br>
          <%= f.text_field :name%>
          <%= f.errors :name %>
        </div>
        <div class="field">
          <%= f.label "Mail" %><br>
          <%= f.text_field :mail %>
          <%= f.errors :mail %>
        </div>
        <div class="field">
          <%= f.label "Password" %><br>
          <%= f.password_field :password %>
          <%= f.errors :password %>
        </div>
        <div class="field">
          <%= f.label "Confirm your password" %><br>
          <%= f.password_field :password_confirmation %>
          <%= f.errors :password_confirmation %>
        </div>

        <div class="actions">
          <%= f.submit "Submit", class: 'button-def'%>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#new_user").validate({
      "user_name": {required: true, length: {min: 5, max: 50, message: 'Your name should contain between 5 and 50 characters'}},
      "user_mail": {required: true, mail: true, remote: {uri: '/validator/mail', message: 'Mail already exists'}},
      "user_password": {required: true, length: {min: 6, message: 'Your password is too short'}},
      "user_password_confirmation": {equals: {field: 'user_password', message: 'Passwords don\'t match'}}
    });
  });
</script>
