<div id="profile-info">

  <%= render 'shared/profiles/presentation', owner: @user %>
  <%= render 'follow_form' if logged_in? %>
  <%= render 'stats' %>

  <div class="user-about">
    <div><strong>Gender: </strong><%= gender @user %></div>
    <div><strong>Birth Date: </strong><%= @user.birthday %></div>
    <div><strong>Mail: </strong><%= @user.mail %></div>
    <div><strong>Phone: </strong><%= @user.phone %></div>
  </div>

  <% if @user.groups.count > 0 %>
  <div class="user-groups">
    <div><strong>Groups where I am a member:</strong></div>
      <%= render @user.groups %>
  </div>
  <% end %>

</div>

<%= render 'shared/profiles/activity', owner: @user %>
