<div class="info-container col-3">
  <strong>Owner of Event:</strong>
  <%= render @event.owner %>
</div>

<div class="info-container col-3">
  <dl>
    <dt>Place:</dt>
    <dd><%= link_to @event.place.name, @event.place %></dd>
    <dt>Date:</dt>
    <dd><%= @event.date %></dd>
  </dl>
</div>

<div class="info-container col-3">
  <dl>
    <dt>Price:</dt>
    <dd><%= number_to_currency @event.price, precision: 0 %></dd>
    <dt>Categories:</dt>
    <dd>
      <% @event.event_types.to_a.each do |et| %>
        <%= et.name %>
      <% end %>
    </dd>
  </dl>
</div>
