<div class="info-container col-3">
  <strong>Owner:</strong>
  <%= render @event.owner %>
</div>

<div class="info-container col-3">
  <strong>Description:</strong>
  <div><%= @event.description %></div>
</div>

<div class="info-container col-3">
  <dl>
    <dt>Place:</dt>
    <dd><%= link_to @event.place.name, @event.place %></dd>
    <dt>Date:</dt>
    <dd><%= @event.date %></dd>
    <dt>Price:</dt>
    <dd><%= number_to_currency @event.price, precision: 0 %></dd>
    <dt>Categories:</dt>
    <dd>
      <%= render @event.event_types %>
    </dd>
  </dl>
</div>
