<div class="info-container col-3">
  <strong>Creator:</strong>
  <%= render @event.owner %> <br>
  <% followed_attending = current_user.followed_attending_to(@event).take(5)%>
  <% all_attending_count = @event.attendants.count %>
  <% if followed_attending.any? %>
    <strong>Users attending this event:</strong>
    <%= render followed_attending %>
    <% if followed_attending.count < all_attending_count %>
      <% att_dif = followed_attending.count - all_attending_count %>
      <p> And <%= att_dif %> more. </p>
    <% end %>
  <% end %>
</div>

<div class="info-container col-3">
  <div><%= @event.description %></div>
</div>

<div class="info-container col-3">
  <dl>
    <dt><%= fa_icon 'map-marker'%> Place:</dt>
    <dd><%= link_to @event.place.name, @event.place %></dd>
    <dt><%= fa_icon 'calendar'%> Date:</dt>
    <dd>
      <%= date_hour @event.date %>
      <div id="weather" class="loading"><%= image_tag("shared/ajax-loader.gif", class: "loading_gif") %>Cargando información del clima...</div>
    </dd>
    <dt><%= fa_icon 'usd'%> Price:</dt>
    <dd><%= number_to_currency @event.price, precision: 0 %></dd>
    <dt><%= fa_icon 'tags'%> Categories:</dt>
    <dd>
      <%= render @event.event_types %>
    </dd>
  </dl>
</div>
