<div class="form center">
  <fieldset class="borders">
    <legend>Event</legend>
    <div class="contents">
    <%= form_for(@event, builder: BetterForms) do |f| %>

      <%= f.title_errors %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
        <%= f.errors :name %>
      </div>

      <div class="field">
        <%= f.label :place %><br>
        <%= f.collection_select :place_id,
        Place.order(:name), :id, :name,
        include_blank: true %>
        <%= f.errors :place %>
      </div>
      <div class="field">
        <%= f.label :date %><br>
        <%= f.datetime_select :date %>
        <%= f.errors :date %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
        <%= f.errors :description %>
      </div>
      <div class="field">
        <%= f.label :price %><br>
        <%= f.number_field :price %>
        <%= f.errors :price %>
      </div>
      <div class="tag-table">
        <% EventType.all.each do |et| %>
        <div class="tag-row">
          <%= label_tag et.id, et.name, class: 'tag-cell' %>
          <%= check_box_tag "event[event_type_ids][]", et.id, class: 'tag-cell' %>
        </div>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :picture %>
        <%= f.file_field :picture %>
        <%= f.errors :picture %>
      </div>

      <div class="actions">
        <%= f.submit 'Ready!', class: 'button-def' %>
      </div>
      <% end %>
    </div>
  </fieldset>
</div>