<% @title ||= 'Events' %>
<div>
  <h1 class="center-align">
    <%= @title %>
    <% unless @event.nil? %>
    <%= link_to @event.name, @event %>
    <% end %>
  </h1>

  <% if logged_in? %>
    <%= button_to 'New event', new_event_path, method: :get, class: 'button-def' %>
  <% end %>
</div>

<%= render 'shared/pagination', resource: @events %>
<%= render 'listing', events: @events %>
<%= render 'shared/pagination', resource: @events %>
