<h1>Eventos Existentes</h1>

<%= button_to '¡Crear nuevo evento!',
              new_event_path, method: :get, class: 'button-def' %>

<table>
  <thead>
    <tr>
      <th>Evento</th>
      <th>Descripción</th>
      <th>Fecha</th>
      <th>Precio</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= truncate event.description, length: 140, separator: ' ' %></td>
        <td><%= event.date %></td>
        <td><%= number_to_currency(event.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
