<h1><%= @event.name %></h1>

<div id="event-image">
  EventImage
</div>

<div id="event-data">
  <dl>
    <dt>Evento de:</dt>
    <dd><%= @event.owner.name %></dd>
    <dt>Lugar:</dt>
    <dd><%= @event.place.name %></dd>
    <dt>Fecha:</dt>
    <dd><%= @event.date %></dd>
    <dt>Precio:</dt>
    <dd><%= @event.price %></dd>
  </dl>
</div>

<div id="event-description">
</div>

<div id="event-comments">
  <% @event.comments.each do |comment| %>
    <p>
      <%= link_to comment.user.name, comment.user %>
      <%= comment.content %>
    </p>
  <% end %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %>
