<div class="events">

  <div class="center-align">
    <h1><%= @event.name %></h1>
    <div class="statistics">
      <span id="avg-rating">
        <%= render 'ratings/avg_rating' %>
      </span>
      |
      <span id="num-reports">
        <%= render 'reports/num_reports' %>
      </span>
    </div>
  </div>

  <% if owner_of_event? %>
  <%= button_to 'Edit', edit_event_path(@event),
  method: 'get', class: 'button-def floated-left' %>
  <%= button_to 'Delete', event_path(@event),
  method: 'delete', class: 'button-del floated-left',
  data: { confirm: 'Are you sure?' } %>
  <% end %>

  <% if logged_in? %>
  <div class="floated-right">
    <%= render 'reports/form' %>
  </div>

  <div class="floated-right">
    <%= render 'ratings/form' %>
  </div>
  <% end %>

  <div class="big-rectangle clear">
    <div class="event-info">
      EventImage
    </div>

    <div class="event-info">
      <%= render 'event_info' %>
    </div>

    <div id="map" class="event-info">
    </div>
  </div>

  <div class="big-rectangle">
    <div class="event-description clear">
      <p><%= @event.description %></p>
    </div>
  </div>

  <div class="big-rectangle">
    <% if logged_in? %>
    <div class="comment-input">
      <%= render 'comments/form' %>
    </div>
    <% end %>

    <div id="comments">
      <%= render 'comments/commentable_comments' %>
    </div>
  </div>
</div>

<script>
function initialize() {
  var mapOptions = {
    zoom: 17,
    center: new google.maps.LatLng(<%= @event.place.lat %>, <%= @event.place.lon %>)
  };

  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  var marker = new google.maps.Marker({
    position: new google.maps.LatLng(<%= @event.place.lat %>, <%= @event.place.lon %>),
    map: map,
    title: '<%= @event.place.name %>'
  });
  var mc = new MarkerClusterer(map, marker);
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
  '&callback=initialize';
  document.body.appendChild(script);
}

window.onload = loadScript;
google.maps.event.addDomListener(window, 'page:load', initialize);
</script>
