<div class="events">
  <div class="center-align">
    <h1><%= @event.name %></h1>
  </div>

  <% if owner_of_event? %>
    <%= button_to 'Edit', edit_event_path(@event),
                  method: 'get', class: 'button-def floated' %>
    <%= button_to 'Delete', event_path(@event),
                  method: 'delete', class: 'button-del floated', data: { confirm: 'Are you sure?' } %>
  <% end %>

  <div class="clear">
    <div class="small-rectangle">
      <div class="event-square">
        EventImage
      </div>
    </div>

    <div class="small-rectangle">
      <div class="event-square">
        <dl>
          <dt>Evento de:</dt>
          <dd><%= link_to @event.owner.name, @event.owner %></dd>
          <dt>Lugar:</dt>
          <dd><%= link_to @event.place.name, @event.place %></dd>
          <dt>Fecha:</dt>
          <dd><%= @event.date %></dd>
          <dt>Precio:</dt>
          <dd><%= number_to_currency @event.price %></dd>
        </dl>
      </div>
    </div>

    <div class="small-rectangle">
      <div class="event-square">
        Aquí irá el mapa cuando lo implementemos.
      </div>
    </div>
  </div>

  <div class="big-rectangle">
    <div class="event-description">
      <p><%= @event.description %></p>
    </div>
  </div>

  <% @commentable = @event %>
  <div id="comments">
    <%= render 'comments/commentable_comments' %>
  </div>

  <% if logged_in? %><%= render 'comments/form' %><% end %>
</div>
