<div class="events">

  <div class="center-align">
    <h1><%= @event.name %></h1>
    <div class="stats-container">
      <span id="avg-rating">
        <%= render partial: 'ratings/avg_rating', locals: { rateable: @event } %>
      </span>
      |
      <span id="num-reports">
        <%= render partial: 'reports/num_reports', locals: { reportable: @event } %>
      </span>
    </div>
  </div>

  <% if owner_of_event? %>
  <div class="floated-left">
    <%= button_to 'Edit', edit_event_path(@event),
    method: 'get', class: 'button-def floated-left' %>
  </div>
  <div class="floated-left">
    <%= button_to 'Delete', event_path(@event),
    method: 'delete', class: 'button-del floated-left',
    data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>

  <% if logged_in? %>
  <div class="floated-right">
    <%= render partial: 'reports/form', locals: { reportable: @event } %>
  </div>

  <div class="floated-right">
    <%= render partial: 'ratings/form', locals: { rateable: @event } %>
  </div>
  <% end %>

  <div class="container big-container clear borders">
    <div class="info-container col-3 mini-image">
      <%= image_tag @event.get_picture(:normal) %>
    </div>
    <div class="info-container mini-map col-3-2">
      <div id="map"></div>
    </div>
  </div>

  <div class="container big-container borders">
    <%= render 'event_info' %>
  </div>

  <div class="container big-container borders">
    <% if logged_in? %>
    <div class="comment-input">
      <%= render partial: 'comments/form', locals: { commentable: @event } %>
    </div>
    <% end %>

    <div id="comments">
      <%= render partial: 'comments/commentable_comments', locals: { commentable: @event } %>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });

    lat = <%= @event.place.lat %>;
    lon = <%= @event.place.lon %>;
    date = "<%= @event.date.strftime('%e %b').downcase%>";
    uri = "/weather.js?lat=" + lat + "&lon=" + lon + "&date=" + date;
    $.get(uri);
  });
</script>
