<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @rating.value %>
</p>
<p>
  <strong>Rateable id:</strong>
  <%= @rating.rateable_id %>
</p>
<p>
  <strong>Rateable type:</strong>
  <%= @rating.rateable_type %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
