<h1>Bienvenido a Kultur.al</h1>

<%= link_to 'Comments', 'comments#index' %>
<%= link_to 'Events', 'events#index' %>
<%= link_to 'Event Types', 'event_types#index' %>
<%= link_to 'Groups', 'groups#index' %>
<%= link_to 'Places', 'places#index' %>
<%= link_to 'Ratings', 'ratings#index' %>
<%= link_to 'Reports', 'reports#index' %>
<%= link_to 'Users', 'users#index' %>