<div class="container big-container">
  <div class="cell-container col-6" id="sidebar">
    <ul>
      <li><%= link_to 'Event Categories', event_types_path %></li>
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'Groups', groups_path %></li>
      <li><%= link_to 'Places', places_path %></li>
      <li><%= link_to 'Users', users_path %></li>
    </ul>
  </div>
  <div class="info-container map-container-big col-5-4">
    <div id="map"></div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });

</script>
