<head>
<title>KULTURAL</title>
</head>
<body>
<h1>Bienvenido</h1>
<p>ruta: app/views/pages/main.html.erb</p>
<%= link_to 'Events', 'events#index' %>
<%= link_to 'Event Types', 'event_types#index' %>
<%= link_to 'Users', 'users#index' %>
<%= link_to 'Groups', 'groups#index' %>
<%= link_to 'Places', 'places#index' %>
<%= link_to 'Ratings', 'ratings#index' %>
<%= link_to 'Reports', 'reports#index' %>
</body>
