<%= link_to 'Events', 'events' %>
<%= link_to 'Groups', 'groups' %>
<%= link_to 'Places', 'places' %>
<%= link_to 'Users', 'users' %>
<div class="map-container-big">
  <div id="map" ></div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
});


</script>
