<%= link_to "kultur.al", root_path, id: "logo" %>

<% if logged_in? %>
  <div id="search-bar">
    <%= render 'search/search_bar' %>
  </div>

  <div class="header-right">
    <div class="header-user-menu">
      <!-- TODO: Change profile placeholder to user's image-->
      <%= image_tag("placeholders/profile.png", id: "profile-img") %>
      <h3 id="username"><%= current_user.name %></h3>
      <ul>
        <li><%= link_to "Profile", current_user,
                                   id: "profile" %></li>

        <li><%= link_to "Edit profile", edit_user_path(id: current_user.id),
                                        id:"edit-profile" %></li>

        <li><%= link_to "Logout", logout_path,
                                  method: "delete",
                                  id:"logout"%></li>
      </ul>
    </div>
  </div>
<% end %>
